@using AspNetCorePlugin.ViewModels
@model IndexViewModel

<div class="text-center">
    <h1 class="display-4 test-entry">Welcome</h1>
    <p>This PLUGGED IN PAGE2 value: "@Model.ComputedValue" comes from a service.</p>
</div>
